%% vim: ft=erlang ts=4 sw=4 sts=4 et
[
	{title, "Blast CMS Example"},
	{logo, "/images/logo.png"},
	{menu, [
		{"About", "/#about"},
		{"Layouts", "/layouts/#intro"},
		{"Github", "https://github.com/choptastic/blast_cms"}
	]},
    {navbar_layout, [
        logo, space, menu
    ]},
    {navbar_content_width, full}, %% full | content
    {max_logo_height, 200}, %% default is 200
	{copyright, "copyright.md"},
	{section_classes, [
		%% each section loops through the specified number of sections,
		%% applying the class 'section-X'. You probably don't need to worry
		%% about this too much unless you want to add a bunch of variety to
		%% each section. See site.css for more info.
		{section, 2}
	]}
].
