/* Note that however many section-X you define here will be custom styled. You
 * can change the number of sections before the system auto-loops in
 * site.config's section_classes section */

.section-1 {
	background: #000;
	color: white;
}

.section-1 a:link,
.section-1 a:visited {
	color: white;
} 

.section-2 {
	background: #fff;
	color: black;
}

.section-2 a:link,
.section-2 a:visited {
	color:black;
} 


.section a:link,
.section a:visited {
	font-weight:bold;
	text-decoration: underline;
}

