[
	{title, "Blast CMS Example"},
	{logo, "/images/logo.png"},
	{menu, [
		{"About", "/#about"},
		{"Layouts", "/layouts/#intro"},
		{"Github", "https://github.com/choptastic/blast_cms"}
	]},
	{copyright, "copyright.md"},
	{section_classes, [
		%% each section loops through the specified number of sections,
		%% applying the class 'section-X'. You probably don't need to worry
		%% about this too much unless you want to add a bunch of variety to
		%% each section. See site.css for more info.
		{section, 2}
	]}
].
